<template>
  <div>
    <ul class="nav">
      <li>
        <a href="#" @click.prevent="changeView('MyInfiniteScroll')">MyInfiniteScroll</a>
      </li>
      <li>
        <a href="#" @click.prevent="changeView('MyParallaxScrollingCss')">MyParallaxScrollingCss</a>
      </li>
      <li>
        <a href="#" @click.prevent="changeView('MyParallaxScrolling')">MyParallaxScrolling</a>
      </li>
    </ul>
    <component :is="view"></component>
  </div>
</template>

<script>

import MyInfiniteScroll from './my-infinite-scroll.vue'
import MyParallaxScrollingCss from './my-parallax-scrolling-css.vue'
import MyParallaxScrolling from './my-parallax-scrolling.vue'

export default {
    components: {
      MyInfiniteScroll,
      MyParallaxScrollingCss,
      MyParallaxScrolling
    },
    data () {              
        return {
          view: "MyInfiniteScroll",
        }
    },
    created() {
        
    },
    mounted() {
        
    },
    beforeMount() {
    },
    methods: {
        changeView(view) {
          this.view = view;
        }
    }
}
</script>

<style lang="scss" scoped>

</style>