<template>
    <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th> # </th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Language</th>
                        <th>Description</th>
                        <th>Link</th>
                    </tr>
                </thead>
            </table>
        </div>
        <table class="table-hover" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr v-for="(rep, index) in items" :key="rep.index">
                    <td scope="row">{{index+1}}</td>
                    <td>{{ rep.name}}</td>
                    <td> {{ dateFormatter(rep.created_at) }}</td>
                    <td> {{ rep.language}} </td>
                    <td>{{ rep.description }}</td>
                    <td> <a v-bind:href="rep.svn_url" target="_blank">Github</a></td>
                </tr> 
            </tbody>
        </table>
        <span v-if="items.length != allItems.length">loadMore...</span>
    </div>
    
    <!-- <div class="row" >    
        <div class="col">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Language</th>
                            <th>License</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table class="table-hover" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr v-for="(rep, index) in items">
                            <td scope="row">{{index+1}}</td>
                            <td>{{ rep.name}}</td>
                            <td> {{ dateFormatter(rep.created_at) }}</td>
                            <td> {{ rep.language}} </td>
                            <td>
                                <span v-if="rep.license"> {{ rep.license.name}}</span>
                                <span v-else> Not defined </span> 
                            </td>
                            <td> <a v-bind:href="rep.svn_url" target="_blank">Github</a></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</template>

<script>
import RepoService from '@/services/RepoService'

export default {
    components: {
    },
    data () {              
        return {
            count: 0,
            pageIndex: 0,
            pageSize: 10,
            totalPage: 0,
            items: [],
            allItems: [],
            busy: false,
        }
    },
    created() {
        
    },
    mounted() {
        
    },
    beforeMount() {
        this.loadRepositories();
    },
    methods: {
        loadMore: function() {
            var self = this;
            this.busy = true;
            setTimeout(() => {
                if(self.pageIndex < self.totalPage) {
                    for(var i = 0;i < self.pageSize;i++) {
                        var tmp = i + self.pageIndex * self.pageSize;
                        console.log("self.allItems[tmp] :: " + self.allItems[tmp]);
                        if(tmp < self.allItems.length) {
                            self.items.push(self.allItems[tmp]);
                        }
                    }
                    console.log("self.items.length :: " + self.items.length);
                    self.pageIndex++;
                    this.busy = false;
                }   
            }, 1000);
        },
        loadRepositories () {
            var self = this;
            self.pageIndex = 0;
            RepoService.getRepositories().then((response) => {
                self.allItems = response.data;
                self.totalPage = (self.allItems.length / self.pageSize) + (self.allItems.length % self.pageSize == 0 ? 0 : 1);
                console.log("self.totalPage :: " + self.totalPage);
                console.log("response.data.length :: " + self.allItems.length);
                // console.log("self.items :: " + JSON.stringify(self.items));
            })
        },
        dateFormatter(date){
            return date.substring(0, 10);
        },
    }
}
</script>

<style lang="scss" scoped>

.row {
    margin-bottom: 20px;
}

table {
    width:100%;
    table-layout: fixed;  
}

.tbl-content {
    height:600px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    background-color: #ffcc80;
}

tr  {
    background-color: #fcf8f7;
    cursor: pointer;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


</style>